<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flyweather"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- db文件在sd卡：在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- db文件在sd卡：往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/h_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.flyweather.activity.ChooseAreaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.flyweather.activity.WeatherActivity"></activity>
        <service android:name="com.example.flyweather.service.AutoUpdateService"></service>
        <receiver android:name="com.example.flyweather.receiver.AutoUpdateReceiver"></receiver>
        
         <!-- 声明widget对应的AppWidgetProvider -->
         <!-- android.appwidget.action.APPWIDGET_UPDATE，必须要显示声明的action！
         	因为所有的widget的广播都是通过它来发送的；要接收widget的添加、删除等广播，就必须包含它。 -->
         <!-- 
         <meta-data> 指定了 AppWidgetProviderInfo 对应的资源文件
    android:name 指定metadata名，通过android.appwidget.provider来辨别data。
    android:resource  指定 AppWidgetProviderInfo 对应的资源路径。即，xml/example_appwidget_info.xml。 -->	
        <receiver android:name="com.example.flyweather.widget.WeatherWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.skywang.widget.UPDATE_ALL"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
    </application>

</manifest>
